services:
  - type: web
    name: ck-cp-backend
    runtime: node
    rootDir: .
    buildCommand: npm install
    startCommand: node src/server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_SERVICE_KEY
        sync: false
      - key: JUDGE0_API_KEY
        sync: false
      - key: JUDGE0_HOST
        sync: false
